CIAA_Software_1.1-Win/CIAA_Software_1.1-Win/workspaces/embedded-ide-ws/projects/test_all_in/app/out/app/src/app.o
CIAA_Software_1.1-Win/CIAA_Software_1.1-Win/workspaces/embedded-ide-ws/projects/test_all_in/app/out/app.bin
CIAA_Software_1.1-Win/CIAA_Software_1.1-Win/workspaces/embedded-ide-ws/projects/test_all_in/app/out/app.elf
